:root {
  --background-1: #c3c2c0;
  --background-white: #ffffff;
  --background-softwhite: #f5f5f5;
  --color-text:black;
}
/* title */
.grey-side {
  padding: 10% 10%;
  box-shadow: 5px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .white-side {
 
    box-shadow: 5px 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .title-content h3 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .title-content h4 {
    font-size: 1.5rem;
    color: var(--background-1);
  }
  .title-content h5 {
    font-size: 1.4rem;
    margin-top: 20px;
  } 
  .process {
    background: linear-gradient(to right,  #f5f5f5 0%,#f5f5f5 50%,#000000 50%,#000000 100%);
    }


    
 

 

  
    
    




