/* ***************STARTER TEMPLATE******************* */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Bodoni Moda', serif; */
}

:root {
  --background-1: #c3c2c0;
  --background-white: #ffffff;
  --background-softwhite: #f5f5f5;
  --color-text:black;
}

/* ************************HEADER************************** */

.container-fluid {
  padding: 5% 10%;
}

.navbar-title {
    background: var(--background-white);
    font-family: "Bodoni Moda", serif;
    color: var(--color-text);
  }

/* NAVBAR */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
 .navbar-nav a{
    font-size: 1.4rem;
    color: black;
    margin-right: 20px;
}
.navbar-nav a:hover{
text-decoration: underline;
}

.navbar-nav a{
  transition: width 2s, height 4s;
  }





/* TITTLE */

.titles {
color: yellow;

}
.title-content h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
}

.title-content h4 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--background-1);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(228, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(10, end),
  blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: rgb(0, 0, 0) }
}


.title-content h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
}

 .navbar-title .row{
   margin-top: 80px;
  text-align:left;
}
.grey-side {
background-color:var(--background-softwhite);
padding: 10% 10%;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* PICTURES */

.white-side {
  background-color: white;
  box-shadow: 1px 5px 1px 1px rgba(0, 0, 0, 0.2);
}
.carousel-images {
  padding: 100px 0;
  width: 100%; 
} 

.carousel-control-prev-icon, .carousel-control-next-icon  {
position: absolute;
bottom: 1px;
background-color: rgb(0, 0, 0);
margin-bottom: 30px;
}




/* ********************PROCESS*************************** */
.process {
background-color: black;
}
/* LEFT SIDE */
.uno {
  background-color: red;
}

/* RIGHT SIDE */

.dos {
  background-color: royalblue;
}