/* ***************STARTER TEMPLATE******************* */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Bodoni Moda', serif; */
}

:root {
  --background-1: #c3c2c0;
  --background-white: #ffffff;
  --background-softwhite: #f5f5f5;
  --color-text:black;
}

/* ************************HEADER************************** */

.container-fluid {
  padding: 5% 10%;
}

.navbar-title {
    background: var(--background-white);
    font-family: "Bodoni Moda", serif;
    color: var(--color-text);
  }

/* NAVBAR */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
 .navbar-nav a{
    font-size: 1.4rem;
    color: black;
    margin-right: 20px;
}
.navbar-nav a:hover{
text-decoration: underline;
}



/* TITTLE */

.titles {
color: yellow;

}
.title-content h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
}
.title-content h4 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--background-1);
}
.title-content h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
}

 .navbar-title .row{
   margin-top: 80px;
  text-align:left;
}
.grey-side {
background-color:var(--background-softwhite);
padding: 10% 15%;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* PICTURES */

.white-side {
  background-color: white;
  box-shadow: 1px 5px 1px 1px rgba(0, 0, 0, 0.2);
}
.carousel-images {
  padding: 100px 0;
  width: 100%; 
} 












/* .title-content {
   
    padding: 2% 10%;
    background-color: var(--background-white);
}

.title-content h1 {
    
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 15%;
}
.title-content img {
    padding: 20% 0;
    width: 100%;
} */


/* ************************MAIN************************** */

/* main div {
    background-color:var(--background-softwhite);
    width: 100%;
    height: 50vh;
} */

/* ************************FOOTER************************** */
