/* ***************STARTER TEMPLATE******************* */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Bodoni Moda', serif; */
}

:root {
  --background-1: #c3c2c0;
  --background-white: #ffffff;
  --background-softwhite: #f5f5f5;
  --color-text:black;
}

/* ************************HEADER************************** */

.container-fluid {
  padding: 5% 10%;
}

.navbar-title {
    background: var(--background-white);
    font-family: "Bodoni Moda", serif;
    color: var(--color-text);
  }

/* .navbar {
  position: sticky;
  top: 0;
  z-index: 555555;
  
} */

/* NAVBAR */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
  }
 .navbar-nav a{
    font-size: 1.4rem;
    color: black;
    margin-right: 20px;
}
.navbar-nav a:hover{
text-decoration: underline;
}

.navbar-nav a{
  transition: width 2s, height 4s;
  }





/* TITTLE */

.titles {
color: yellow;

}
.title-content h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
}

.title-content h4 {
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--background-1);

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(228, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(10, end),
  blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: rgb(0, 0, 0) }
}


.title-content h5 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
}

 .navbar-title .row{
   margin-top: 80px;
  text-align:left;
}
.grey-side {
background-color:var(--background-softwhite);
padding: 10% 10%;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* PICTURES */

.white-side {
  background-color: white;
  box-shadow: 1px 5px 1px 1px rgba(0, 0, 0, 0.2);
}
.carousel-images {
  padding: 100px 0;
  width: 100%; 
} 

.navbar-title .carousel-control-prev-icon   {
position: absolute;
bottom: 1%;
background-color: rgb(0, 0, 0);
margin-bottom: 30px;

}
.navbar-title .carousel-control-next-icon {
  position: absolute;
  bottom: 1%;
  background-color: rgb(0, 0, 0);
  margin-bottom: 30px; 
}





/* ********************PROCESS*************************** */
.process {
background: linear-gradient(to bottom,  #f5f5f5 55%,#000000 50%,#000000 50%,#000000 100%);
justify-content: center;
justify-items: center;
color: white;
padding: 5% 0;
font-family: "Bodoni Moda", serif;
text-align: center;
}

/* CAROUSEL */

.process .carousel-item {
  padding: 2% 2%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}


.process img{
  border-radius: 15px;
  border: 3px solid rgb(41, 41, 41); 
  margin-bottom: 20px;
}

.process .text {
padding: 8%
}

.process h5 {
  margin-top: 20%;
}
.process p {
  font-size: 0.9rem;
}





