/* ***************STARTER TEMPLATE******************* */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Bodoni Moda', serif; */
     
}

:root {
    --color1: rgb(44, 53, 48);
    --color2: rgb(86, 102, 93);
    --color3: yellow; 
}


/* ************************HEADER************************** */

/* NAVBAR */
#navegation-bar {
    background-color:var(--color1);
    font-family: 'Bodoni Moda', serif;
  
}
.navbar-brand { 
    font-size: 1.7rem; 
    font-weight: 600;
}

#navegation-bar a{
   
    color: rgb(255, 255, 255);
}
.navbar-nav a {
    margin: 0 30px;
    font-size: 300;
    text-align: right;
}

    





/* ************************MAIN************************** */













/* ************************FOOTER************************** */













