/* ***************STARTER TEMPLATE******************* */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Bodoni Moda', serif; */
}

:root {
  --color1: rgb(44, 53, 48);
  --color2: rgb(86, 102, 93);
  --color3: yellow;
}

/* ************************HEADER************************** */

.container-fluid {
  padding: 5% 10%;
}

#navbar-title {
    background-color: var(--color1);
    font-family: "Bodoni Moda", serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }

/* NAVBAR */

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar-title .navbar-nav{
  font-size: 1.2rem;
  font-weight: 300;
  

}
.navbar-title a:hover {
    color: white;
  }

.title-content h1{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    padding-top: 15%;
}



/* TITTLE */

/* ************************MAIN************************** */

/* ************************FOOTER************************** */
