
:root {
        --background-1: #c3c2c0;
        --background-white: #ffffff;
        --background-softwhite: #f5f5f5;
        --color-text:black;
      }
/* title */
.grey-side {
        padding: 10% 15%;
        
        }


/* CAROUSEL */

.process h5 {
    margin-top: 15%;
    font-size: 2rem;
  }
.process p {
    font-size: 1.3rem;
}



.process .carousel-item {
  padding: 2% 8%;
}

.process .carousel-control-prev-icon
 {
  width: 20px;
  height: 20px;
  margin-right: 50% ;
  background-image:initial;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  
}
.process .carousel-control-next-icon{
  width: 20px;
  height: 20px;
  margin-left: 50% ;
  background-image: unset;
  background-color: #f5f5f5;
  border-radius: 50px;
}